In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
min_lat = 36
min_lon = 338
max_lat = 71
max_lon = 41

In [3]:
station_locations = pd.read_csv('supermag-stations-info.csv')

In [4]:
stations_to_remove = ['A09', 'A10', 'A11', 'ALT', 'ARK', 'ASA', 'ASH', 'B01', 
						'BJI', 'C09', 'CGO', 'CPL', 'CPY', 'CWE', 'DRB', 'E01', 
						'E02', 'E03', 'E04', 'EUA', 'FTN', 'FVE', 'GLK', 'GRK', 
						'KAU', 'KGD', 'KOR', 'KZN', 'LNN', 'M02', 'M11', 'MCE', 
						'MHV', 'MNK', 'MSK', 'MZH', 'NAD', 'NKK', 'NR2', 'NVL', 
						'PKS', 'PNL', 'POD', 'PRG', 'R01', 'R02', 'R03', 'R04', 
						'R05', 'R06', 'R07', 'R08', 'R09', 'R10', 'RSV', 'SAH', 
						'SAS', 'SKD', 'SMA', 'SUT', 'T26', 'T27', 'T60', 'T62', 
						'TKT', 'TLK', 'TOL', 'TOR', 'TTB', 'TUL', 'W01', 'W02', 
						'W03', 'W04', 'W05', 'WSE', 'WTK', 'YSS', 'KHS', 'BEY', 'KLI']
station_locations = station_locations[station_locations['IAGA'].isin(stations_to_remove) == False]

In [5]:
df = station_locations[(station_locations['GEOLAT'] >= min_lat) & (station_locations['GEOLAT'] <= max_lat) & \
	((station_locations['GEOLON'] >= min_lon) | (station_locations['GEOLON'] <= max_lon))]

df.reset_index(inplace=True,drop=True)

In [6]:
stations = df['IAGA'].tolist()

In [7]:
station_dict = {}
for station in stations:
	temp_df = pd.read_feather(f'../data/supermag/{station}.feather')
	temp_df = temp_df[['Date_UTC','dbht','MLT']]
	temp_df.dropna(subset=['dbht'], inplace=True)
	temp_df.set_index('Date_UTC', drop=True, inplace=True)
	station_dict[station] = {}
	station_dict[station]['station_df'] = temp_df

In [8]:
station_dict['MEK']['station_df']

                         dbht   MLT
Date_UTC
2004-10-01 00:01:00  0.141421  2.57
2004-10-01 00:02:00  0.316228  2.58
2004-10-01 00:03:00  0.223607  2.60
2004-10-01 00:04:00  0.300000  2.62
2004-10-01 00:05:00  0.360555  2.63
...                       ...   ...
2019-12-30 23:56:00  0.223607  1.96
2019-12-30 23:57:00  0.141421  1.98
2019-12-30 23:58:00  0.282843  1.99
2019-12-30 23:59:00  0.000000  2.01
2019-12-31 00:00:00  0.100000  2.03

[7520975 rows x 2 columns]

In [9]:
main = []
for station in station_dict.keys():
	temp_df = station_dict[station]['station_df']
	difference_df = pd.DataFrame()
	for stat in station_dict.keys():
		if (station == stat) or (stat in main):
			continue
		difference_df[stat] = (temp_df['dbht']-station_dict[stat]['station_df']['dbht']).abs()
	
	difference_df.dropna(how='all', inplace=True)
	print(difference_df)
	station_dict[station]['difference_df'] = difference_df
	main.append(station)

                          LRV  LOV       LER       VAL       HAD       ESK  \
Date_UTC
2004-10-01 00:01:00  0.041421  NaN  0.041421  0.141421  0.858579  0.141421
2004-10-01 00:02:00  0.216228  NaN  0.316228  0.316228  0.316228  0.316228
2004-10-01 00:03:00  1.263000  NaN  0.123607  0.796197  0.781381  0.223607
2004-10-01 00:04:00  1.186607  NaN  0.300000  0.704988  0.300000  0.300000
2004-10-01 00:05:00  2.141444  NaN  0.360555  0.644432  0.639445  0.360555
...                       ...  ...       ...       ...       ...       ...
2019-12-30 23:56:00       NaN  NaN  0.076393  0.082185  0.082185  0.023607
2019-12-30 23:57:00       NaN  NaN  0.041421  0.141421  0.082185  0.158579
2019-12-30 23:58:00       NaN  NaN  0.059236  0.182843  0.059236  0.255674
2019-12-30 23:59:00       NaN  NaN  0.000000  0.000000  0.223607  0.223607
2019-12-31 00:00:00       NaN  NaN  0.100000  0.182843  0.123607  0.123607

                          MAB       DOU       BFE       CLF  ...  SUW  SZC  \
Date_UTC                                                     ...
2004-10-01 00:01:00  0.141421  0.858579  0.863566  0.141421  ...  NaN  NaN
2004-10-01 00:02:00  0.216228  0.316228  0.316228  0.316228  ...  NaN  NaN
2004-10-01 00:03:00  0.223607  0.776393  0.223607  0.781381  ...  NaN  NaN
2004-10-01 00:04:00  0.300000  0.300000  0.700000  0.300000  ...  NaN  NaN
2004-10-01 00:05:00  0.360555  0.639445  0.360555  0.360555  ...  NaN  NaN
...                       ...       ...       ...       ...  ...  ...  ...
2019-12-30 23:56:00       NaN       NaN  0.176393       NaN  ...  NaN  NaN
2019-12-30 23:57:00       NaN       NaN  0.358579       NaN  ...  NaN  NaN
2019-12-30 23:58:00       NaN       NaN  0.182843       NaN  ...  NaN  NaN
2019-12-30 23:59:00       NaN       NaN  0.360555       NaN  ...  NaN  NaN
2019-12-31 00:00:00       NaN       NaN  0.260555       NaN  ...  NaN  NaN

                     ZAG  VYH       WIC  CST  P01  RNC  A02  KLD
Date_UTC
2004-10-01 00:01:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
2004-10-01 00:02:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
2004-10-01 00:03:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
2004-10-01 00:04:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
2004-10-01 00:05:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...       ...  ...  ...  ...  ...  ...
2019-12-30 23:56:00  NaN  NaN  0.076393  NaN  NaN  NaN  NaN  NaN
2019-12-30 23:57:00  NaN  NaN  0.082185  NaN  NaN  NaN  NaN  NaN
2019-12-30 23:58:00  NaN  NaN  0.059236  NaN  NaN  NaN  NaN  NaN
2019-12-30 23:59:00  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 00:00:00  NaN  NaN  0.400000  NaN  NaN  NaN  NaN  NaN

[7520975 rows x 91 columns]
                          LOV       LER       VAL       HAD       ESK  \
Date_UTC
1995-01-01 00:01:00  0.900000  0.000000  0.100000  1.872308  0.000000
1995-01-01 00:02:00  1.104536  1.104536  1.004536  0.382071  1.104536
1995-01-01 00:03:00  1.720465  0.643432  1.720465  0.720465  1.720465
1995-01-01 00:04:00  0.900000  1.000000  1.000000  0.000000  1.000000
1995-01-01 00:05:00  1.004988  0.800000  0.000000  0.500000  0.900000
...                       ...       ...       ...       ...       ...
2012-12-31 23:55:00       NaN  1.249286  1.433058  1.336975  1.149286
2012-12-31 23:56:00       NaN  0.300000  0.100000  0.000000  0.282843
2012-12-31 23:57:00       NaN  0.800000  0.783772  0.783772  0.700000
2012-12-31 23:58:00       NaN  0.300000  0.041421  0.300000  0.312311
2012-12-31 23:59:00       NaN  0.360555  0.223607  0.509902  0.538516

                          MAB       DOU  BFE       CLF       WNG  ...  \
Date_UTC                                                          ...
1995-01-01 00:01:00  0.000000  0.100000  NaN  0.100000  1.314214  ...
1995-01-01 00:02:00  1.104536  1.104536  NaN  0.198998  1.004536  ...
1995-01-01 00:03:00  1.620465  1.620465  NaN  1.720465  1.720465  ...
1995-01-01 00:04:00  0.400000  0.400000  NaN  0.900000  1.000000  ...
1995-01-01 00:05:00  1.000000  0.000000  NaN  0.000000  0.100000  ...
...                       ...       ...  ...       ...       ...  ...
2012-12-31 23:55:00  1.649286  1.749286  NaN  1.325022  1.388730  ...
2012-12-31 23:56:00  0.000000  0.000000  NaN  0.100000  0.223607  ...
2012-12-31 23:57:00  0.100000  1.100000  NaN  0.783772  0.590098  ...
2012-12-31 23:58:00  0.100000  0.900000  NaN  0.123607  0.123607  ...
2012-12-31 23:59:00  1.000000  1.004988  NaN  0.223607  0.200000  ...

                          SUW  SZC  ZAG  VYH  WIC  CST  P01  RNC       A02  \
Date_UTC
1995-01-01 00:01:00       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1995-01-01 00:02:00       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1995-01-01 00:03:00       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1995-01-01 00:04:00       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
1995-01-01 00:05:00       NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN       NaN
...                       ...  ...  ...  ...  ...  ...  ...  ...       ...
2012-12-31 23:55:00  1.249286  NaN  NaN  NaN  NaN  NaN  NaN  NaN  1.449286
2012-12-31 23:56:00  0.200000  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.223607
2012-12-31 23:57:00  0.817157  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.900000
2012-12-31 23:58:00  0.216228  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.200000
2012-12-31 23:59:00  0.360555  NaN  NaN  NaN  NaN  NaN  NaN  NaN  0.200000

                     KLD
Date_UTC
1995-01-01 00:01:00  NaN
1995-01-01 00:02:00  NaN
1995-01-01 00:03:00  NaN
1995-01-01 00:04:00  NaN
1995-01-01 00:05:00  NaN
...                  ...
2012-12-31 23:55:00  NaN
2012-12-31 23:56:00  NaN
2012-12-31 23:57:00  NaN
2012-12-31 23:58:00  NaN
2012-12-31 23:59:00  NaN

[8408110 rows x 90 columns]
                          LER       VAL       HAD       ESK       MAB  \
Date_UTC
1995-01-01 00:01:00  0.900000  1.000000  0.972308  0.900000  0.900000
1995-01-01 00:02:00  0.000000  0.100000  1.486607  0.000000  0.000000
1995-01-01 00:03:00  1.077033  0.000000  1.000000  0.000000  0.100000
1995-01-01 00:04:00  0.100000  0.100000  0.900000  0.100000  0.500000
1995-01-01 00:05:00  0.204988  1.004988  0.504988  0.104988  0.004988
...                       ...       ...       ...       ...       ...
2004-04-26 11:55:00  0.664804  0.082185  0.664804  1.247823  0.664804
2004-04-26 11:56:00  0.706226  0.216228  0.607107  0.919804  0.100000
2004-04-26 11:57:00  0.298621  0.051138  0.705539  0.234637  0.705539
2004-04-26 11:58:00  0.905538  0.223607  0.223607  1.019804  0.900000
2004-04-26 11:59:00  0.058579  0.878383  1.062738  0.565685  0.780533

                          DOU       BFE       CLF       WNG       THY  ...  \
Date_UTC                                                               ...
1995-01-01 00:01:00  1.000000       NaN  1.000000  0.414214  1.000000  ...
1995-01-01 00:02:00  0.000000       NaN  0.905538  0.100000  0.100000  ...
1995-01-01 00:03:00  0.100000       NaN  0.000000  0.000000  0.100000  ...
1995-01-01 00:04:00  0.500000       NaN  0.000000  0.100000  0.100000  ...
1995-01-01 00:05:00  1.004988       NaN  1.004988  0.904988  0.000000  ...
...                       ...       ...       ...       ...       ...  ...
2004-04-26 11:55:00  0.058579  1.131371  0.658579       NaN  0.758579  ...
2004-04-26 11:56:00  0.706226  0.919804  0.200000       NaN  0.000000  ...
2004-04-26 11:57:00  0.705539  0.000000  0.705539       NaN  0.805538  ...
2004-04-26 11:58:00  1.019804  1.004988  0.806226       NaN  1.019804  ...
2004-04-26 11:59:00  0.664804  0.000000  0.058579       NaN  0.041421  ...

                     SUW  SZC  ZAG  VYH  WIC  CST  P01  RNC  A02  KLD
Date_UTC
1995-01-01 00:01:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:02:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:03:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:04:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:05:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
2004-04-26 11:55:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004-04-26 11:56:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004-04-26 11:57:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004-04-26 11:58:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2004-04-26 11:59:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[4900349 rows x 89 columns]
                          VAL       HAD       ESK       MAB       DOU  \
Date_UTC
1995-01-01 00:01:00  0.100000  1.872308  0.000000  0.000000  0.100000
1995-01-01 00:02:00  0.100000  1.486607  0.000000  0.000000  0.000000
1995-01-01 00:03:00  1.077033  0.077033  1.077033  0.977033  0.977033
1995-01-01 00:04:00  0.000000  1.000000  0.000000  0.600000  0.600000
1995-01-01 00:05:00  0.800000  0.300000  0.100000  0.200000  0.800000
...                       ...       ...       ...       ...       ...
2019-12-31 23:55:00  0.223607  0.023607  0.000000       NaN       NaN
2019-12-31 23:56:00  0.100000  0.100000  0.000000       NaN       NaN
2019-12-31 23:57:00  0.000000  0.100000  0.100000       NaN       NaN
2019-12-31 23:58:00  0.123607  0.000000  0.041421       NaN       NaN
2019-12-31 23:59:00  0.223607  0.123607  0.136948       NaN       NaN

                          BFE       CLF       WNG       THY       BEL  ...  \
Date_UTC                                                               ...
1995-01-01 00:01:00       NaN  0.100000  1.314214  0.100000  1.004536  ...
1995-01-01 00:02:00       NaN  0.905538  0.100000  0.100000  0.000000  ...
1995-01-01 00:03:00       NaN  1.077033  1.077033  0.977033  1.077033  ...
1995-01-01 00:04:00       NaN  0.100000  0.000000  0.000000  1.004988  ...
1995-01-01 00:05:00       NaN  0.800000  0.700000  0.204988  0.700000  ...
...                       ...       ...       ...       ...       ...  ...
2019-12-31 23:55:00  0.200657       NaN  0.023607  0.123607  0.023607  ...
2019-12-31 23:56:00  0.041421       NaN  0.000000  0.123607  0.000000  ...
2019-12-31 23:57:00  0.200000       NaN  0.141421  0.000000  0.100000  ...
2019-12-31 23:58:00  0.123607       NaN  0.041421  0.000000  0.182843  ...
2019-12-31 23:59:00  0.123607       NaN  0.000000  0.059236  0.023607  ...

                     SUW  SZC  ZAG  VYH       WIC  CST  P01  RNC  A02  KLD
Date_UTC
1995-01-01 00:01:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:02:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:03:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:04:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:05:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...
2019-12-31 23:55:00  NaN  NaN  NaN  NaN  0.123607  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:56:00  NaN  NaN  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:57:00  NaN  NaN  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:58:00  NaN  NaN  NaN  NaN  0.041421  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:59:00  NaN  NaN  NaN  NaN  0.123607  NaN  NaN  NaN  NaN  NaN

[13141227 rows x 88 columns]
                          HAD       ESK  MAB  DOU       BFE       CLF  \
Date_UTC
1995-01-01 00:01:00  1.972308  0.100000  0.1  0.0       NaN  0.000000
1995-01-01 00:02:00  1.386607  0.100000  0.1  0.1       NaN  0.805538
1995-01-01 00:03:00  1.000000  0.000000  0.1  0.1       NaN  0.000000
1995-01-01 00:04:00  1.000000  0.000000  0.6  0.6       NaN  0.100000
1995-01-01 00:05:00  0.500000  0.900000  1.0  0.0       NaN  0.000000
...                       ...       ...  ...  ...       ...       ...
2019-12-31 23:55:00  0.200000  0.223607  NaN  NaN  0.424264       NaN
2019-12-31 23:56:00  0.000000  0.100000  NaN  NaN  0.141421       NaN
2019-12-31 23:57:00  0.100000  0.100000  NaN  NaN  0.200000       NaN
2019-12-31 23:58:00  0.123607  0.082185  NaN  NaN  0.000000       NaN
2019-12-31 23:59:00  0.100000  0.360555  NaN  NaN  0.100000       NaN

                          WNG       THY       BEL       FUR  ...  SUW  SZC  \
Date_UTC                                                     ...
1995-01-01 00:01:00  1.414214  0.000000  1.104536  0.141421  ...  NaN  NaN
1995-01-01 00:02:00  0.000000  0.000000  0.100000  0.100000  ...  NaN  NaN
1995-01-01 00:03:00  0.000000  0.100000  0.000000  0.000000  ...  NaN  NaN
1995-01-01 00:04:00  0.000000  0.000000  1.004988  1.000000  ...  NaN  NaN
1995-01-01 00:05:00  0.100000  1.004988  0.100000  0.000000  ...  NaN  NaN
...                       ...       ...       ...       ...  ...  ...  ...
2019-12-31 23:55:00  0.200000  0.100000  0.200000  0.447214  ...  NaN  NaN
2019-12-31 23:56:00  0.100000  0.223607  0.100000  0.223607  ...  NaN  NaN
2019-12-31 23:57:00  0.141421  0.000000  0.100000  0.200000  ...  NaN  NaN
2019-12-31 23:58:00  0.082185  0.123607  0.059236  0.092621  ...  NaN  NaN
2019-12-31 23:59:00  0.223607  0.282843  0.200000  0.200000  ...  NaN  NaN

                     ZAG  VYH       WIC  CST  P01  RNC  A02  KLD
Date_UTC
1995-01-01 00:01:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:02:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:03:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:04:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:05:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...       ...  ...  ...  ...  ...  ...
2019-12-31 23:55:00  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:56:00  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:57:00  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:58:00  NaN  NaN  0.082185  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:59:00  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN

[12814325 rows x 87 columns]
                          ESK       MAB       DOU       BFE       CLF  \
Date_UTC
1995-01-01 00:01:00  1.872308  1.872308  1.972308       NaN  1.972308
1995-01-01 00:02:00  1.486607  1.486607  1.486607       NaN  0.581068
1995-01-01 00:03:00  1.000000  0.900000  0.900000       NaN  1.000000
1995-01-01 00:04:00  1.000000  0.400000  0.400000       NaN  0.900000
1995-01-01 00:05:00  0.400000  0.500000  0.500000       NaN  0.500000
...                       ...       ...       ...       ...       ...
2019-12-31 23:55:00  0.023607       NaN       NaN  0.224264       NaN
2019-12-31 23:56:00  0.100000       NaN       NaN  0.141421       NaN
2019-12-31 23:57:00  0.000000       NaN       NaN  0.100000       NaN
2019-12-31 23:58:00  0.041421       NaN       NaN  0.123607       NaN
2019-12-31 23:59:00  0.260555       NaN       NaN  0.000000       NaN

                          WNG       THY       BEL       FUR       NGK  ...  \
Date_UTC                                                               ...
1995-01-01 00:01:00  0.558095  1.972308  0.867772  1.830887       NaN  ...
1995-01-01 00:02:00  1.386607  1.386607  1.486607  1.486607       NaN  ...
1995-01-01 00:03:00  1.000000  0.900000  1.000000  1.000000       NaN  ...
1995-01-01 00:04:00  1.000000  1.000000  0.004988  0.000000       NaN  ...
1995-01-01 00:05:00  0.400000  0.504988  0.400000  0.500000       NaN  ...
...                       ...       ...       ...       ...       ...  ...
2019-12-31 23:55:00  0.000000  0.100000  0.000000  0.247214  0.058579  ...
2019-12-31 23:56:00  0.100000  0.223607  0.100000  0.223607  0.141421  ...
2019-12-31 23:57:00  0.041421  0.100000  0.000000  0.100000  0.000000  ...
2019-12-31 23:58:00  0.041421  0.000000  0.182843  0.216228  0.000000  ...
2019-12-31 23:59:00  0.123607  0.182843  0.100000  0.100000  0.123607  ...

                     SUW  SZC  ZAG  VYH       WIC  CST  P01  RNC  A02  KLD
Date_UTC
1995-01-01 00:01:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:02:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:03:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:04:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:05:00  NaN  NaN  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...  ...  ...       ...  ...  ...  ...  ...  ...
2019-12-31 23:55:00  NaN  NaN  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:56:00  NaN  NaN  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:57:00  NaN  NaN  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:58:00  NaN  NaN  NaN  NaN  0.041421  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:59:00  NaN  NaN  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN

[13140253 rows x 86 columns]
                     MAB  DOU       BFE       CLF       WNG       THY  \
Date_UTC
1995-01-01 00:01:00  0.0  0.1       NaN  0.100000  1.314214  0.100000
1995-01-01 00:02:00  0.0  0.0       NaN  0.905538  0.100000  0.100000
1995-01-01 00:03:00  0.1  0.1       NaN  0.000000  0.000000  0.100000
1995-01-01 00:04:00  0.6  0.6       NaN  0.100000  0.000000  0.000000
1995-01-01 00:05:00  0.1  0.9       NaN  0.900000  0.800000  0.104988
...                  ...  ...       ...       ...       ...       ...
2019-12-31 23:55:00  NaN  NaN  0.200657       NaN  0.023607  0.123607
2019-12-31 23:56:00  NaN  NaN  0.041421       NaN  0.000000  0.123607
2019-12-31 23:57:00  NaN  NaN  0.100000       NaN  0.041421  0.100000
2019-12-31 23:58:00  NaN  NaN  0.082185       NaN  0.000000  0.041421
2019-12-31 23:59:00  NaN  NaN  0.260555       NaN  0.136948  0.077712

                          BEL       FUR       NGK       BDV  ...  SUW  SZC  \
Date_UTC                                                     ...
1995-01-01 00:01:00  1.004536  0.041421       NaN  0.100000  ...  NaN  NaN
1995-01-01 00:02:00  0.000000  0.000000       NaN  0.000000  ...  NaN  NaN
1995-01-01 00:03:00  0.000000  0.000000       NaN  1.004988  ...  NaN  NaN
1995-01-01 00:04:00  1.004988  1.000000       NaN  0.000000  ...  NaN  NaN
1995-01-01 00:05:00  0.800000  0.900000       NaN  0.100000  ...  NaN  NaN
...                       ...       ...       ...       ...  ...  ...  ...
2019-12-31 23:55:00  0.023607  0.223607  0.082185       NaN  ...  NaN  NaN
2019-12-31 23:56:00  0.000000  0.123607  0.041421       NaN  ...  NaN  NaN
2019-12-31 23:57:00  0.000000  0.100000  0.000000       NaN  ...  NaN  NaN
2019-12-31 23:58:00  0.141421  0.174806  0.041421       NaN  ...  NaN  NaN
2019-12-31 23:59:00  0.160555  0.160555  0.136948       NaN  ...  NaN  NaN

                     ZAG  VYH       WIC  CST  P01  RNC  A02  KLD
Date_UTC
1995-01-01 00:01:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:02:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:03:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:04:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
1995-01-01 00:05:00  NaN  NaN       NaN  NaN  NaN  NaN  NaN  NaN
...                  ...  ...       ...  ...  ...  ...  ...  ...
2019-12-31 23:55:00  NaN  NaN  0.123607  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:56:00  NaN  NaN  0.100000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:57:00  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:58:00  NaN  NaN  0.000000  NaN  NaN  NaN  NaN  NaN
2019-12-31 23:59:00  NaN  NaN  0.260555  NaN  NaN  NaN  NaN  NaN

[13140530 rows x 85 columns]
                          DOU       BFE       CLF       WNG       THY  \
Date_UTC
1995-01-01 00:01:00  0.100000       NaN  0.100000  1.314214  0.100000
1995-01-01 00:02:00  0.000000       NaN  0.905538  0.100000  0.100000
1995-01-01 00:03:00  0.000000       NaN  0.100000  0.100000  0.000000
1995-01-01 00:04:00  0.000000       NaN  0.500000  0.600000  0.600000
1995-01-01 00:05:00  1.000000       NaN  1.000000  0.900000  0.004988
...                       ...       ...       ...       ...       ...
2019-10-31 20:34:00  0.578012  4.686158       NaN  4.825653  5.921633
2019-10-31 20:35:00  0.751959  5.540305       NaN  4.309382  5.611940
2019-10-31 20:36:00  0.564019  3.179621       NaN  3.996397  4.737834

:

: